body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/chihiro007.jpg);
  background-color: #ccc;
}

#back {
  position: fixed;
  z-index: 1000;
}

#back a {
  display: block;
}

#back a:hover {
  cursor: pointer;
}

#section01 {
  position: relative;
  width: 97vw;
  height: 100vh;
}

#section02 {
  position: relative;
  width: 97vw;
  height: 97vh;
  color: white;
  line-height: 1.2rem;
}

#section03 {
  position: relative;
  width: 97vw;
  height: 60vh;
  color: white;
  line-height: 1.2rem;
}

#section04 {
  position: relative;
  width: 97vw;
  height: 50vh;
  color: white;
  line-height: 1.2rem;
}

#section02 p {
  font-size: 20px;
  font-family: '標楷體';
}

.pcon {
  width: 100%;
  height: 390px;
  padding: 20px;
  background: rgba(51, 51, 51, 0.667);
}

.h-100 {
  height: 100%;
}

.container {
  width: 75%;
  margin: auto;
  position: relative;
}

.s1 {
  position: absolute;
  left: 20%;
  top: 20px;
}

.s1 img {
  width: 400px;
  box-shadow: -10px 10px 15px white;
}

.s1 img:hover {
  box-shadow: -10px 10px 15px rgb(169, 19, 19);
}

.s1 a:hover {
  cursor: pointer
}

.ml16 {
  color: white;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.p1 {
  font-size: 24px;
  padding: 20px;
  background: white;
  font-family: '標楷體';
  position: absolute;
  left: 25%;
  top: 100px;
  opacity: 0.5;
}

.p2 {
  font-size: 30px;
  padding: 20px;
  font-family: 'Kiwi Maru', serif;
  position: absolute;
  text-shadow: 10px 10px 15px #333;
  left: 40%;
  top: 50%;
}

.p1:hover {
  font-size: 30px;
  background: black;
  color: white;
  left: 25%;
  top: 100px;
  opacity: 1;
}

#section03 .row {
  font-size: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section04 .row {
  font-size: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section03 .col {
  /* 可重新計算box總寬度  對width包含了 padding border */
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  width: 50%;
  padding: 5rem 1rem;
  display: inline-block;
  /* 只能用在inline-block裡面 */
  vertical-align: middle;
}

#section03 .col iframe {
  width: 100%;
  height: 300px;
  padding-top: 10px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
}

#section04 .col {
  /* 可重新計算box總寬度  對width包含了 padding border */
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  width: 25%;
  padding: 1rem 1rem;
  display: inline-block;
  /* 只能用在inline-block裡面 */
  vertical-align: middle;
}

#section04 .col img {
  width: 100%;
  ;
  border: 5px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
}

input {
  display: none;
}

.content8,
.content7,
.content6,
.content5,
.content4,
.content3,
.content2,
.content1 {
  display: none;
}

#dra:hover~.content1 {
  display: block;
}

#sen:hover~.content2 {
  display: block;
}

#pp:hover~.content3 {
  display: block;
}

#noface:hover~.content4 {
  display: block;
}

#sister:hover~.content5 {
  display: block;
}

#sister2:hover~.content6 {
  display: block;
}

#baby:hover~.content7 {
  display: block;
}

#sister3:hover~.content8 {
  display: block;
}